# Military spending per country around the world

## The questions

  - How much does each country spend on military in the world?
  - How does the US spending compare to the rest of the world?

## Initialize our analysis environment

In [12]:
from pandas import read_html

## Download and format data

Download and parse current data from Wikipedia: https://en.wikipedia.org/wiki/List_of_countries_by_military_expenditures

In [2]:
tables = read_html("https://en.wikipedia.org/wiki/List_of_countries_by_military_expenditures")

In [3]:
print(len(tables))
raw_spending = tables[1]
print(raw_spending)

6
                                                  0    \
0   List by the Stockholm International Peace Rese...
1   Rank Country Spending ($ Bn.) Â % of GDP World ...
2                                                Rank
3                                                 NaN
4                                                  01
5                                                  02
6                                                  03
7                                                  04
8                                                  05
9                                                  06
10                                                 07
11                                                 08
12                                                 09
13                                                 10
14                                                 11
15                                                 12
16                                                 13
17                                                 14
18                                                 15
19                                               Rank
20                                                 01
21                                                 02
22                                                 03
23                                                 04
24                                                 05
25                                                 06
26                                                 07
27                                                 08
28                                                 09
29                                                 10
30                                                 11
31                                                 12
32                                                 13
33                                                 14
34                                                 15

                                                  1                 2    \
0   List by the International Institute for Strate...               NaN
1                                                Rank           Country
2                                             Country  Spending ($ Bn.)
3                                         World total            1676.0
4                                       United States             596.0
5                                            China[a]             215.0
6                                     Saudi Arabia[b]              87.2
7                                              Russia              66.4
8                                      United Kingdom              55.5
9                                               India              51.3
10                                             France              50.9
11                                              Japan              40.9
12                                         Germany[a]              39.4
13                                        South Korea              36.4
14                                             Brazil              24.6
15                                              Italy              23.8
16                                          Australia              23.6
17                                                UAE              22.8
18                                             Israel              16.1
19                                            Country  Spending ($ Bn.)
20                                      United States             597.5
21                                              China             145.8
22                                       Saudi Arabia              81.9
23                                             Russia              65.6
24                                     United Kingdom              56.2
25                                              India              48.0
26                                             France              46.8
27                                              Japan              41.0
28                                            Germany              36.7
29                                        South Korea              33.5
30                                             Brazil              24.3
31                                          Australia              22.8
32                                              Italy              21.6
33                                               Iraq              21.1
34                                             Israel              18.6

                 3         4    5            6       7    8    9    ...   \
0                NaN       NaN  NaN          NaN     NaN  NaN  NaN  ...
1   Spending ($ Bn.)  % of GDP  NaN  World total  1676.0  2.3  1.0  ...
2           % of GDP       NaN  NaN          NaN     NaN  NaN  NaN  ...
3                2.3       NaN  NaN          NaN     NaN  NaN  NaN  ...
4                3.3       NaN  NaN          NaN     NaN  NaN  NaN  ...
5                1.9       NaN  NaN          NaN     NaN  NaN  NaN  ...
6               13.7       NaN  NaN          NaN     NaN  NaN  NaN  ...
7                5.4       NaN  NaN          NaN     NaN  NaN  NaN  ...
8                2.0       NaN  NaN          NaN     NaN  NaN  NaN  ...
9                2.3       NaN  NaN          NaN     NaN  NaN  NaN  ...
10               2.1       NaN  NaN          NaN     NaN  NaN  NaN  ...
11               1.0       NaN  NaN          NaN     NaN  NaN  NaN  ...
12               1.2       NaN  NaN          NaN     NaN  NaN  NaN  ...
13               2.6       NaN  NaN          NaN     NaN  NaN  NaN  ...
14               1.4       NaN  NaN          NaN     NaN  NaN  NaN  ...
15               1.3       NaN  NaN          NaN     NaN  NaN  NaN  ...
16               1.9       NaN  NaN          NaN     NaN  NaN  NaN  ...
17               5.7       NaN  NaN          NaN     NaN  NaN  NaN  ...
18               5.4       NaN  NaN          NaN     NaN  NaN  NaN  ...
19               NaN       NaN  NaN          NaN     NaN  NaN  NaN  ...
20               NaN       NaN  NaN          NaN     NaN  NaN  NaN  ...
21               NaN       NaN  NaN          NaN     NaN  NaN  NaN  ...
22               NaN       NaN  NaN          NaN     NaN  NaN  NaN  ...
23               NaN       NaN  NaN          NaN     NaN  NaN  NaN  ...
24               NaN       NaN  NaN          NaN     NaN  NaN  NaN  ...
25               NaN       NaN  NaN          NaN     NaN  NaN  NaN  ...
26               NaN       NaN  NaN          NaN     NaN  NaN  NaN  ...
27               NaN       NaN  NaN          NaN     NaN  NaN  NaN  ...
28               NaN       NaN  NaN          NaN     NaN  NaN  NaN  ...
29               NaN       NaN  NaN          NaN     NaN  NaN  NaN  ...
30               NaN       NaN  NaN          NaN     NaN  NaN  NaN  ...
31               NaN       NaN  NaN          NaN     NaN  NaN  NaN  ...
32               NaN       NaN  NaN          NaN     NaN  NaN  NaN  ...
33               NaN       NaN  NaN          NaN     NaN  NaN  NaN  ...
34               NaN       NaN  NaN          NaN     NaN  NaN  NaN  ...

     108   109    110   111   112   113   114   115     116   117
0    NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN     NaN   NaN
1   22.8  13.0  Italy  21.6  14.0  Iraq  21.1  15.0  Israel  18.6
2    NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN     NaN   NaN
3    NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN     NaN   NaN
4    NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN     NaN   NaN
5    NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN     NaN   NaN
6    NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN     NaN   NaN
7    NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN     NaN   NaN
8    NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN     NaN   NaN
9    NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN     NaN   NaN
10   NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN     NaN   NaN
11   NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN     NaN   NaN
12   NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN     NaN   NaN
13   NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN     NaN   NaN
14   NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN     NaN   NaN
15   NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN     NaN   NaN
16   NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN     NaN   NaN
17   NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN     NaN   NaN
18   NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN     NaN   NaN
19   NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN     NaN   NaN
20   NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN     NaN   NaN
21   NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN     NaN   NaN
22   NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN     NaN   NaN
23   NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN     NaN   NaN
24   NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN     NaN   NaN
25   NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN     NaN   NaN
26   NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN     NaN   NaN
27   NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN     NaN   NaN
28   NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN     NaN   NaN
29   NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN     NaN   NaN
30   NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN     NaN   NaN
31   NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN     NaN   NaN
32   NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN     NaN   NaN
33   NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN     NaN   NaN
34   NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN     NaN   NaN

[35 rows x 118 columns]

In [4]:
cleaned_spending = raw_spending.iloc[3:, :4]
cleaned_spending.columns = raw_spending.iloc[2, :4]
print(cleaned_spending)

2   Rank          Country  Spending ($ Bn.) % of GDP
3    NaN      World total            1676.0      2.3
4     01    United States             596.0      3.3
5     02         China[a]             215.0      1.9
6     03  Saudi Arabia[b]              87.2     13.7
7     04           Russia              66.4      5.4
8     05   United Kingdom              55.5      2.0
9     06            India              51.3      2.3
10    07           France              50.9      2.1
11    08            Japan              40.9      1.0
12    09       Germany[a]              39.4      1.2
13    10      South Korea              36.4      2.6
14    11           Brazil              24.6      1.4
15    12            Italy              23.8      1.3
16    13        Australia              23.6      1.9
17    14              UAE              22.8      5.7
18    15           Israel              16.1      5.4
19  Rank          Country  Spending ($ Bn.)      NaN
20    01    United States             597.5      NaN
21    02            China             145.8      NaN
22    03     Saudi Arabia              81.9      NaN
23    04           Russia              65.6      NaN
24    05   United Kingdom              56.2      NaN
25    06            India              48.0      NaN
26    07           France              46.8      NaN
27    08            Japan              41.0      NaN
28    09          Germany              36.7      NaN
29    10      South Korea              33.5      NaN
30    11           Brazil              24.3      NaN
31    12        Australia              22.8      NaN
32    13            Italy              21.6      NaN
33    14             Iraq              21.1      NaN
34    15           Israel              18.6      NaN

In [5]:
# Remove the repeat in column name:
cleaned_spending = cleaned_spending.loc[cleaned_spending["Country"] != "Country", :]
# Convert data columns to numbers:
cleaned_spending = cleaned_spending.copy()
for col in ["Spending ($ Bn.)", "% of GDP"]:
    cleaned_spending[col] = cleaned_spending[col].astype("float")

In [6]:
print(cleaned_spending[["Country", "Spending ($ Bn.)"]])

2           Country  Spending ($ Bn.)
3       World total            1676.0
4     United States             596.0
5          China[a]             215.0
6   Saudi Arabia[b]              87.2
7            Russia              66.4
8    United Kingdom              55.5
9             India              51.3
10           France              50.9
11            Japan              40.9
12       Germany[a]              39.4
13      South Korea              36.4
14           Brazil              24.6
15            Italy              23.8
16        Australia              23.6
17              UAE              22.8
18           Israel              16.1
20    United States             597.5
21            China             145.8
22     Saudi Arabia              81.9
23           Russia              65.6
24   United Kingdom              56.2
25            India              48.0
26           France              46.8
27            Japan              41.0
28          Germany              36.7
29      South Korea              33.5
30           Brazil              24.3
31        Australia              22.8
32            Italy              21.6
33             Iraq              21.1
34           Israel              18.6

## Answer the questions!

In [7]:
print("US military spending (in Billion $):")
cleaned_spending.loc[4, "Spending ($ Bn.)"]

US military spending (in Billion $):

596.0

In [8]:
next_country_slice = slice(5, 11)
num_next_countries = len(cleaned_spending.loc[next_country_slice])
print("Spending for the next {} countries (in Billion $):".format(num_next_countries))
cleaned_spending.loc[next_country_slice, "Spending ($ Bn.)"].sum()

Spending for the next 7 countries (in Billion $):

567.20000000000005

Bonus question: Who are these next 7 countries? Is the US likely to go to war with any of these countries?

In [9]:
print("Following next {} countries:".format(num_next_countries))
print(cleaned_spending.loc[next_country_slice, "Country"])

Following next 7 countries:
5            China[a]
6     Saudi Arabia[b]
7              Russia
8      United Kingdom
9               India
10             France
11              Japan
Name: Country, dtype: object

Are these ennemies in the following 7 countries?

In [11]:
next_country_slice = slice(12, 18)
print(cleaned_spending.loc[next_country_slice, "Country"])

12     Germany[a]
13    South Korea
14         Brazil
15          Italy
16      Australia
17            UAE
18         Israel
Name: Country, dtype: object

In [ ]:
Who are the following 7 countries

## See also

https://en.wikipedia.org/wiki/Military_budget